# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules/
Backend/node_modules/
movie-rec-app/node_modules/

# Build output
dist/
dist-ssr/
movie-rec-app/build/

# Environment files
*.local
Backend/.env
movie-rec-app/.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional: OS files
Thumbs.db
